html, body {
    height: 100%;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom left, #d89339, #c953b9) no-repeat;
}

#game{
    width: 405px;
    height: 200px;
    margin: 0 auto;
}

.hidden{
    display:none;
}

body {
    background-color: white;
}

#h1 {
    margin-bottom: 40%;
}

#shop {
    margin-top: 15%;
}

#image {
    margin-bottom: 20%;
    transition: transform 0.5s;
    transition-timing-function: linear;
}

.scroll {
    height: 6px;
    background-color: wheat;
    position: fixed;
    top: 0;
}

.clicked {
    scale: 90%;
}

.clickin {
    transform: scale(0%);
}

.notclicked {
    transform: scale(100%);
}

progress {
    width:400px;
}