body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #0b8eb2, #e6096d) no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

#game{
    width: 405px;
    height: 200px;
    margin: 0 auto;
}

.hidden{
    display:none;
}

body {
    background-color: white;
}

#shop {
    transform: translate(270%, -450%);
    position: absolute;
}

#image {
    margin-bottom: 10%;
    transition: transform 0.5s;
    transition-timing-function: linear;
}

.scroll {
    height: 6px;
    background-color: wheat;
    position: fixed;
    top: 0;
}

.clicked {
    scale: 90%;
}

.clickin {
    transform: scale(-50%);
}

.notclicked {
    transform: scale(100%);
}

progress {
    width: 200px;
    transform: translate(-47%, -850%);
    position: absolute;
}

#energy {
    transform: translateY(-690%);
}

#selectbar {
    transform: translateY(300px);
    background: linear-gradient(to top right, #ffffff0c, #ffffffa6) no-repeat;
    width: 50dvh;
    border-radius: 5px;
    height: 50px;
    border: 4px rgba(239, 239, 239, 0.508) solid;
    text-align: center;
    display: flex;
}

.select {
    margin-right: 50px;
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: white;
}

#tap {
    margin-left: 10px;
}