body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #0b8eb2, #e6096d) no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    width: 12%;
    height: 90%;
    margin-right: 80%;
    margin-top: 1%;
}

.predmet {
    width: 50dvh;
    height: 10dvh;
    margin: 0;
    margin-left: 4%;
    margin-top: 5%;
    background: linear-gradient(to bottom left, #a0a0a0, #4c4c4c);
    border-radius: 40px;
}

.text {
    transform: translate(0%, -450%);
}

.price {
    transform: translate(38%, -650%);
}

#poprikazy {
    transform: scaleX(135%);
    margin-top: 15px;
    margin-left: 15px;
}

#selectbar {
    transform: translateY(100px);
    background: linear-gradient(to top right, #ffffff0c, #ffffffa6) no-repeat;
    width: 50dvh;
    border-radius: 5px;
    height: 50px;
    border: 4px rgba(239, 239, 239, 0.508) solid;
    text-align: center;
    display: flex;
}
.select {
    margin-right: 50px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: white;
}